{{search-box hint="Find a beer" action="searchDatabase" groupsize="" position="col-md-4"}}
<table class="table">
<thead>
  <tr>
      <th>#</th>
	  <th></th>
      <th>Name</th>
	  <th>ABV</th>
	  <th>Serving temperature</th>
	  <th>Style</th>
	  <th>Brewery</th>
	  <th>Origin</th>
	</tr>
</thead>
  <tbody>
  {{#each beerlist as |beer index|}}
     <tr>
	 <th scope="row">{{index}}</th>
	 <td>{{#if beer.labels.icon}}<img src="{{beer.labels.icon}}" width="50%" height="50%">{{else}}<img src="assets/images/missing.png">{{/if}}
		{{partial organic}}</td>
	 <td>{{#link-to "beer" beer.id}}{{beer.name}}{{/link-to}}</td>
	 <td>{{beer.abv}}</td>
	 <td>{{beer.servingTemperatureDisplay}}</td>
	 <td>{{#link-to "style" beer.style.id}}{{beer.style.name}}{{/link-to}}</td>
	 <td>{{#link-to "brewery" beer.breweries.0.id}}{{beer.breweries.0.name}}{{/link-to}}</td>
	 <td class="text-center">{{#if beer.breweries.0.locations.0.countryIsoCode}}<img src="assets/images/{{beer.breweries.0.locations.0.countryIsoCode}}.png">{{/if}}</td>	 
	 </tr>
  {{/each}}
  </tbody>
</table>

